.logo{
    height:210px;
    width: 210px;
}
body{
    background-color: blanchedalmond;
    font-size: 25px;
}
nav a{
    border: 2px solid black;
    border-radius:10px;
    margin: 15px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
}
table{
    border: 2px solid black;
    font-size: 30px;
}
img{
    width: 500px;
    height:600px;
}
body{
    font-size: 20px;
}
header{
    background-color:rgb(209, 191, 163);
} 
header h1, img {
text-align: center;
font-size: 60px;
}
 main p {
     font-size: 29px;
     background-color:rgb(230, 219, 201);
     font-family: 'Courier New', Courier, monospace;
 }
 td{
     border-bottom: 2px solid black;
 }
 footer{
     background-color:rgb(209, 191, 163);
 }
 footer p{
     font-size: 29px;
     background-color:rgb(230, 219, 201);
 }
 a{
    border: 2px solid black;
    border-radius:10px;
    margin: 15px;
    font-size: 27px;
    text-decoration: none;
    color: black;
    background-color: white;
}
.tel{
    width: 25px;
    height: 25px;
}
